<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="DefaultConnection" connectionString="Server=servidortickets.database.windows.net;Database=bdTickets;User Id=admingabo;Password=gabo_1996;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
	</appSettings>

	<system.web>
		<compilation debug="true" targetFramework="4.7.2" />
		<httpRuntime targetFramework="4.7.2"/>
	</system.web>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="EnlaceHTTP"
                         closeTimeout="00:10:00"
                         maxReceivedMessageSize="65536"
                         maxBufferSize="65536"
                         messageEncoding="Text"
                         textEncoding="utf-8">
				</binding>
			</basicHttpBinding>
			<webHttpBinding>
				<binding name="EnlaceHTTPRest"
                         closeTimeout="00:10:00"
                         crossDomainScriptAccessEnabled="true">
				</binding>
			</webHttpBinding>
		</bindings>

		<services>
			<service name="servicioTickets.implementacion.ReservaService" behaviorConfiguration="ServiceBehavior">
				<endpoint address="" binding="basicHttpBinding" bindingConfiguration="EnlaceHTTP" contract="servicioTickets.contrato.IReservaService"/>
				<endpoint address="rest" binding="webHttpBinding" contract="servicioTickets.contrato.IReservaService" bindingConfiguration="EnlaceHTTPRest" behaviorConfiguration="webREST"/>
			</service>
			<service name="servicioTickets.implementacion.UsuarioService" behaviorConfiguration="ServiceBehavior">
				<endpoint address="" binding="basicHttpBinding" bindingConfiguration="EnlaceHTTP" contract="servicioTickets.contrato.IUsuarioService"/>
				<endpoint address="rest" binding="webHttpBinding" contract="servicioTickets.contrato.IUsuarioService" bindingConfiguration="EnlaceHTTPRest" behaviorConfiguration="webREST"/>
			</service>
			<service name="servicioTickets.implementacion.VueloService" behaviorConfiguration="ServiceBehavior">
				<endpoint address="" binding="basicHttpBinding" bindingConfiguration="EnlaceHTTP" contract="servicioTickets.contrato.IVueloService"/>
				<endpoint address="rest" binding="webHttpBinding" contract="servicioTickets.contrato.IVueloService" bindingConfiguration="EnlaceHTTPRest" behaviorConfiguration="webREST"/>
			</service>
		</services>

		<behaviors>
			<endpointBehaviors>
				<behavior name="webREST">
					<webHttp helpEnabled="true"/>
				</behavior>
			</endpointBehaviors>
			<serviceBehaviors>
				<behavior name="ServiceBehavior">
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="false"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>

		<protocolMapping>
			<add binding="basicHttpsBinding" scheme="https" />
		</protocolMapping>

		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
	</system.serviceModel>

	<system.webServer>
		<handlers>
			<remove name="WebDAV" />
		</handlers>
		<modules runAllManagedModulesForAllRequests="true">
			<remove name="WebDAVModule" />
			<add name="CorsModule" type="servicioTickets.wcf.CorsModule, servicioTickets.wcf" />
		</modules>
		<directoryBrowse enabled="true" />
	</system.webServer>
</configuration>